body{
    background-color:rgb(72, 90, 85);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content:center;
    padding: 20px;
    padding-bottom:30px;
    flex-direction:column;
}

button{
    background-color:rgb(152, 211, 152);
    color:rgb(21, 31, 31);
    border:none;
    border-radius:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:900;
}

button:hover{
    background-color:rgb(191, 231, 191);
}

.hh1{
    color:aliceblue;
    font-size:50px;
    font-weight:500;
    text-align:center;
}

.hh2{
    color:rgb(27, 50, 70);
    font-size:20px;
    font-weight:500;
    text-align:center;
}

.hh3{
    color:rgb(27, 50, 70);
    font-size:15px;
    font-weight:500;
    text-align:center;
}

.cardboard{
    background-color:bisque;
    padding:5px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 10px;
}

.pass, .error{
    background-color:azure;
    border:none;
    border-radius:10px;
    font-size:13px;
    font-weight: 600;
    text-align:center;
    padding:10px;
}

.pass:hover, .error:hover{
    background-color:rgb(176, 212, 158);
}

